/*SIDE NAV*/
#logo-img{
  margin-top: 8%;
  margin-left: 6%;
  width: 150px;
}

.side-nav{
  width: 360px;
}

#list-wrapper{
  margin-top: 3%;
}

#most-recent-eq{
  font-weight: bold;
  font-size: 13px;
  color: #9e9e9e;
  margin-left: 5%;
  margin-top: 10%;
}

.list-of-eq{
  font-weight: bold;
  color: white;
}

.time-from-current{
  font-size: 12px;
  color: #9e9e9e;
}

.circle{
  font-size: 20px;
  padding-top: 2.7%;
}

.collection{
  border: 0;
}

.collection-item{
  border-bottom: 1px solid #424242 !important;
}

.eq-info{
  line-height: 33px;
}

.ham-menu{
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
  color: #212121;
}

.ham-menu:hover{
  color: #fdd835;
}

.list-of-eq:hover{
  color: gray;
}
/*PAGINAITON*/
.pagination li a{
  color: #fff;
}

.pagination li a:hover{
  color: #fdd835;
}

.side-nav li>a>i.material-icons
  color: #fff;
}

.chevron:hover{
  color: #fdd835;
}

.fb-login-button{
  height: 30px;
  width: 100px;
}

#map {
        height: 100%;
      }
      
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }